/* style for the "Part of Speech Tagger" header */
h1 {
  font-size: 3em;
  font-weight: bold;

  text-align: center;
  max-height: 10%;
  background: #BF1B26;
  color: white
}

/* this makes the items spread out across the page (buttons at the bottom) */
html, body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	
}

body {

	
	/* more styling for stuff to float to the bottom */
	display: flex;
	flex-flow: column;
	margin: 0 !important; /* needs to override clean.css */
	
	background: white !important; /* white background was too boring */
}

div {
	height: 90%; /* keeps things from overflowing unless otherwise explicitly made ok */
	margin: 0;
	text-align: justify; /* everything but the header is in a div */
}
div.super {
	padding: 15px;
	width: 750;
	background-color: #BF1B26;
}

div.left {
	position: absolute;
	left: 0;
	
}


/* 700px is a manageable size, and this centers that area on the screen */
div.main {
	width: 700px;
	position: relative;
	margin: 0 auto;
	height: 100%;
	
}

/* because otherwise alignment with buttons was weird */
.gwt-TextArea {
	padding: 0px !important;
	background: white;
}

/* so that the user can't resize the text area */
textarea {
	resize: none;
	
}

/* this is because GWT's Widget.setVisible(false) doesn't always do what you want it to */
.invisible {
	display: none;
}

/* without these the invisible text entry field blocks the text display field, affecting hovertext and highlighting */
.front {
	position: absolute;
	z-index: 1;
}
.back {
	position: absolute;
	z-index: -1;
	
}

/* apparently GWT does what it wants with the sizing, but these keep the buttons in their corners */
#submitButton {
	position: absolute;
	height: 3%;
	width: 80px;
	margin: 0;
	padding: 0;
	right: 0;
	bottom: 0;
	
}
#helpButton {
	position: absolute;
	right: 10;
	bottom: 0;
	width: 80px;
	height: 3%;
	
}

/* for the "ALL" tag option */
strong.redBold {
	color: white; /* it's like red but dried */
}

/* because the button is the element inside the submitButton div */
#submitButton > * {
/*display: inline-block;*/
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  
  right: 0;
}
#button:hover {background-color: red}

#button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*display: inline-block;*/
#helpButton > * { 
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#button:hover {background-color: red}

#button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* holds the text entry field in place */
#textFrame {
	position: absolute;
	width: 78%;
	left: 0;
	top: 0;
	bottom: 0;
}

/* holds the tagged text in place */
#taggedText {
	width: 700px;
	height: 90%;
	overflow-y: auto; /* makes it scrollable */
	position: relative;
	background: white;
}

/* area with all the checkboxes */
#sidebar {
	position: absolute;
	width: 20%;
	right: 0;
	top: 0;
	bottom: 0;
}

/* hold the text area to its container */
textarea {
	width: 100%;
	height: 100%;
}

/* tether buttons to the bottom of their containers */
button {
	position: absolute;
	bottom: 0;
}


/* maybe it's this that creates the scroll bar? */
div.taggedText {
	display: none;
	overflow-y: auto; /* PLEASE IT WORKS NOW JUST DON'T TOUCH IT */
}

p {
	text-align: inherit; /* justify, inherited from div */
	margin: 0px 10px; /* else it looks weird in the scroll pane */
}

/* make similar tags the same color (same grouping as in the checkboxes) */
span {
	font-weight: bold;
	text-align: inherit;
}
span.CC {
	color: MidnightBlue
}
span.CD {
	color: DarkCyan
}
span.DT, span.PDT, span.WDT {
	color: MediumSpringGreen
}
span.EX {
	color: Lime
}
span.FW {
	color: ForestGreen
}
span.IN {
	color: DarkSlateBlue
}
span.JJ, span.JJR, span.JJS {
	color: Indigo
}
span.LS {
	color: LawnGreen
}
span.NN, span.NNS, span.NNP, span.NNPS, span.PRP {
	color: Purple
}
span.PDT {
	color: DarkKhaki
}
span.POS, span.PRPS {
	color: IndianRed
}
span.RB, span.RBR, span.RBS {
	color: Crimson
}
span.RP {
	color: DarkSalmon
}
span.SYM {
	color: DeepPink
}
span.TO {
	color: OrangeRed
}
span.UH {
	color: Gold
}
span.VB, span.VBD, span.MD, span.VBG, span.VBN, span.VBP, span.VBZ {
	color: DarkGoldenRod 
}
span.WRB, span.WP, span.WPS {
	color: DarkOliveGreen
}

/* because span formatting makes them ugly otherwise */
label {
	font-weight: normal;
}