/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  /*margin: 40px 0px 70px;*/
  text-align: center;
  max-height: 10%;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-flow: column;
	margin: 0 !important;
}

div {
	/*flex: 1, 1, auto;*/
	height: 90%;
	margin: 0;
	text-align: justify;
}

div.main {
	width: 700px;
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.gwt-ListBox {
	height: 100%;
	width: 100%;
}

.gwt-TextArea {
	padding: 0px !important;
}

textarea {
	resize: none;
}

.invisible {
	display: none;
}

.front {
	position: absolute;
	z-index: 1;
}

.back {
	position: absolute;
	z-index: -1;
}

#submitButton {
	position: absolute;
	height: 3%;
	width: 80px;
	margin: 0;
	padding: 0;
	right: 0;
	bottom: 0;
}

#textFrame {
	position: absolute;
	/*flex: 1, 1, auto;*/
	width: 78%;
	left: 0;
	top: 0;
	bottom: 0;
}

#taggedText {
	width: 700px;
	height: 90%;
	/*padding: 10px;*/
	overflow-y: auto;
	position: relative;
}

#sidebar {
	position: absolute;
	/*flex: 1, 1, auto;*/
	width: 20%;
	right: 0;
	top: 0;
	bottom: 0;
}

textarea {
	width: 100%;
	height: 100%;
}

button {
	position: absolute;
	bottom: 0;
}

div.taggedText {
	display: none;
	overflow-y: auto;
}

p {
	text-align: inherit;
	margin: 0px 10px;
}

span {
	font-weight: bold;
	text-align: inherit;
}
span.CC {
	color: MidnightBlue
}
span.CD {
	color: DarkCyan
}
span.DT, span.PDT, span.WDT {
	color: MediumSpringGreen
}
span.EX {
	color: Lime
}
span.FW {
	color: ForestGreen
}
span.IN {
	color: DarkSlateBlue
}
span.JJ, span.JJR, span.JJS {
	color: Indigo
}
span.LS {
	color: LawnGreen
}
span.NN, span.NNS, span.NNP, span.NNPS, span.PRP {
	color: Purple
}
span.PDT {
	color: DarkKhaki
}
span.POS, span.PRPS {
	color: IndianRed
}
span.RB, span.RBR, span.RBS {
	color: Crimson
}
span.RP {
	color: DarkSalmon
}
span.SYM {
	color: DeepPink
}
span.TO {
	color: OrangeRed
}
span.UH {
	color: Gold
}
span.VB, span.MD, span.VBG, span.VBN, span.VBP, span.VBZ {
	color: DarkGoldenRod 
}
span.WRB, span.WP, span.WPS {
	color: DarkOliveGreen
}

label {
	font-weight: normal;
}