<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
	<servlet>
	    <servlet-name>TaggerServiceServlet</servlet-name>
	    <servlet-class>com.slaves.java.server.TaggerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>TaggerServiceServlet</servlet-name>
	    <url-pattern>/postagger/taggerservice</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>POSTagger.html</welcome-file>
  </welcome-file-list>

</web-app>
